<form method="post" action="/merchants">
  <label for="merchant_name">Merchant Name:</label>
    <input id="merchant_name" type="text" name="name" />

  <label for="merchant_logo">Merchant Logo:</label>
    <input id="merchant_logo" type="text" name="name" />

  <input type='submit' value="Create Merchant"/>
</form>
