<p>Merchant: <%= @merchant.name %></p>
<p><a href="/merchants/<%= @merchant.id %>/edit">Edit Merchant Name</a></p>
<p>Logo: <%= @merchant.logo %></p>
<p><a href="/merchants/<%= @merchant.id %>/edit">Edit Merchant Logo</a></p>
