<p style="color:black;font-size:28px;">Welcome to the Spending Tracker application. This application is used
to monitor the merchants , categories as well as the transactions of any individual.
ENJOY the app! </p>
<img src="https://images-na.ssl-images-amazon.com/images/I/51%2BiYZF9kLL._AC_SX425_.jpg" alt="Girl in a jacket">
