<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam Application</title>
  </head>
  <body>
    <<nav>
      <ul>
        <li></li>
      </ul>
    </nav>
    <section>
      <%=yield %>
    </section>
  </body>
</html>
