<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Transcaction Summary</title>
  </head>
  <body>
    <<nav>
      <ul>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/categories/new">Create Category</a></li>
        <li><a href="/merchants/new">Create Merchant</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/merchants">Merchants</a></li>
      </ul>
    </nav>
    <section>
      <%=yield %>
    </section>
  </body>
</html>
