<table class="transactions">
  <tr>
    <th>Categories</th>
    <th>Actions</th>
  </tr>
<% for category in @categories %>
<tr>
  <td><%=category.name %></td>
  <td><a href="/categories/<%= category.id %>/edit" class="myButton">Edit Category</a></td>
  <td><a href="/categories/<%= category.id %>" class="myButton">Delete Category</a></td>
  </tr>
<% end %>
<form method="post" action="/categories">
  <label for="category_name">Category Name:</label>
    <input id="category_name" type="text" required name="name" />

  <input class="myButton" type='submit' value="Create Category"/>
</form>
