<p>Category: <%= @category.name %></p>
<p><a href="/categories/<%= @category.id %>/edit" class="myButton">Edit Category</a></p>
<form method="post" action="/categories/<%= @category.id %>/delete">
  <input class="myButton" type="submit" value="Delete Category"/>
