/* body {
 background-image: url("https://i2-prod.mirror.co.uk/incoming/article21141440.ece/ALTERNATES/s615/0_Pound-coins-and-bank-notes.jpg");
 background-color: #92a8d1;
 background-size: 100%;
}

body img{opacity: 0.5;} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

label {
  color: #000000;
  font-size: 20px;
}





/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
.transactions {
  border-collapse: collapse;
  width: 95%;
  margin: 2.5%;
}

.transactions td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

.transactions tr:nth-child(even){background-color: #f2f2f2;}

.transactions tr:hover {background-color: #ddd;}

.transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.intro {
  background: #ff0000;
  font-weight: bold;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:0px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:18px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin: 20px
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.center {
  display: block;
      margin: 10px auto;
      width: 420px;
      border: 1px solid grey;
      padding: 10px;
}

.center h2,img{
text-align: center
}

.center img{
  width:400px
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
