<form method="post" action="/transactions">
  <label for="transcation_amount">Transcation Amount:</label>
    <input id="transcation_amount" type="text" name="name" />

    <label for="transcation_merchant">Transcation Merchant:</label>
      <input id="transcation_merchant" type="text" name="name" />

      <label for="transcation_category">Transcation Category:</label>
        <input id="transcation_category" type="text" name="name" />

  <input type='submit' value="Create Transcation"/>
</form>
